[submodule "submodules/ui"]
	path = submodules/ui
	url = https://github.com/waves-framework/waves.ui.git
[submodule "submodules/ui.showcase.common"]
	path = submodules/ui.showcase.common
	url = https://github.com/waves-framework/waves.ui.showcase.common.git
